{% if admin %}
	{% extends 'base-admin.html' %}
{% else %}
	{% extends 'base.html' %}
{% endif %}

{% block content %}
{{ super() }}
<hr>
<div class="list_students">
     <ul class="mainmenu">
<li><a href="{{url_for('index')}}">Список портфолио</a></li>
	<li><a href="{{url_for('index_admin')}}">Список пользователей</a></li>
</ul>
    <h2>Пользователи</h2>

<ul class="list-posts">
    <li>
    {% for u in users %}
        <p class="title"><a href="{{ url_for('showPost', user_id=u.id)}}">{{u.name}}</a></p>
    {% endfor %}
</ul>
</div>

{% endblock %}