{% if admin %}
	{% extends 'base-admin.html' %}
{% else %}
	{% extends 'base.html' %}
{% endif %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<table border="0" class="profile-table">
	<tr><td>
		{% if admin %}
		<div>
			<form action="{{ url_for('delete_user', user_id=user_id) }}" method="post">
 				 <p><input type="submit" value="Удалить пользователя" /></p>
			</form>
		</div>
		{% endif %}
	</td></tr>
	<tr><td valign="top">
		<div class="profile-ava"><img src="{{ url_for('userava', user_id=user_id) }}"></div>
		<div class="profile-load">
		</div>
	</td>
	<td valign="top" class="profile-panel">
		<ul class="profile-info">
		<li>Имя: {{ name }}</li>
		<li>Email: {{ email }}</li>
		<li>Место обучения: {{ study }} </li>
		<li>Место работы: {{ work }} </li>
		<li>Информация о студенте: {{ about_student }} </li>
		<li><a href="{{url_for('index')}}"> Вернуться на главную страницу</a></li>
		</ul>
	</td>
	</tr>
        <tr><td>
				{% if curr_user_id != user_id %}
			<form action="{{ url_for('add_comment', author_id=curr_user_id, user_id=user_id) }}" method="post">
				 <p><label>Ваш комментарий:</label><br/>
					 <textarea name="text_comment" cols="30" rows="10"></textarea></p>
 				 <p><input type="submit" value="Отправить комментарий" /></p>
			</form>
				{% endif %}
		</td></tr>
		<tr><td>
	 <!--СПИСОК КОММЕНТАРИЕВ-->
		<div class="comments-box">
			{% if allComments %}
				{% for c in allComments %}
					{% for u in allUsers %}
			<table border="0" class="comments-table">
				{% if u.id == c.author_id %}
				<tr><td class="comments-content">
						<ul class="list-posts">
						<li><p class="annonce"><a href="{{ url_for('showPost', user_id=u.id)}}">{{ u.name }}</a></p>
							<p class="title">{{ c.content }}</p>
						</li>
						</ul>
					</td>
					{% if admin %}
					<td>
						<div>
							<form action="{{ url_for('delete_comment', com_id=c.id) }}" method="post">
								<p><input type="submit" value="Удалить комментарий" /></p>
							</form>
						</div>
					</td></tr>
					{% endif %}

							{% endif %}

			</table>
			{% endfor %}
{% endfor %}

		</div>
		{% else %}
			{% if curr_user_id == user_id %}
				<p>На вашей странице еще нет комментариев</p>
			{% else %}
			<p>Оставьте комментарий первым! </p>
		{% endif %}
		{% endif %}
	 </td></tr>

</table>
{% endblock %}
